<h1 class="text-center">PERFIL DE USUARIO</h1>
<p class="text-center h2">{{username}}</p>
<div class="mb-3">
    <a href="/main" class="btn btn-primary">See the cat !!</a>
</div>
<div>
    <a href="/private" class="btn btn-primary">Custom page</a>
</div>

<div>
    
</div>