<h2>Estas Signin</h2>

<form action="/signin" method="POST" class="w-50 mx-auto">
    {{#if mensajeError}}
        <div class="alert alert-danger" role="alert">
            {{mensajeError}}
        </div>
    {{/if}}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
        <label for="floatingInput"></label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword"></label>
    </div>
    <button type="submit" class="btn btn-primary">Signin</button>
    <a class="btn btn-link" href="/login">Log in</a>
</form>